@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body {
    background-image: url("images/filmposter.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

section {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    height: 2022px;
}

.navbar {
    background-color: #000;
}

.navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.navbar-brand:hover {
    color: #4169E1;
}

.container {
    margin-top: 60px;
    margin-bottom: 60px;
    padding:40px;
    background: rgba(0,0,0,0.7);
    height:fit-content;
    width:fit-content;
    border-radius: 15px;
}

form {
    color: white;
}

.login, .signup {
    width:500px;
    height:500px;
    position: relative;
    margin:0px auto;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.container {
  padding: 16px;
}
